html, body, div#root, div.root-container, #app
	padding 0
	margin 0
	min-height 100%
	display flex
	flex-direction column
	font-family 'Raleway', sans-serif
	flex 1 0 auto;

#app
	// font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	margin 0
	padding 0
	min-height 100%
	height 100%
	display flex
	flex-direction column
	flex 1 0 100%
	position relative

	.app-content
		flex 1 0 auto
		padding 130px 30px 50px 280px
		display flex

.btn.active, .btn:active, .btn:focus, .btn:active:focus, .btn.active:focus
	outline none !important
	outline-style none
	box-shadow none

.btn-icon-left
	i
		margin-right 8px

.btn-icon-right
	i
		margin-left 8px

.btn:focus, .btn.focus
	box-shadow none !important

.btn.active, .btn:active
	box-shadow inset 0px 0px 5px 0px rgba(0,0,0,0.4) !important
