div.footer
	border none
	background-color #777
	font-size 14px
	margin 0
	flex 0
	padding-left 250px
	position absolute
	bottom 0
	left 0
	right 0

	@media print
		display none

	div.footer-text
		color white
		margin-top 10px
		text-align left
		padding-left 10px
		margin-bottom 5px
