.loading-modal
	div
		text-align center

	div.modal-body
		padding-top 40px
		border-bottom none

		i
			font-size 64px
			color #f0ad4e

		div.modal-title
			font-size 44px
			padding-top 10px
			font-weight 900
