.legend
	display flex
	flex-direction row
	justify-content center
	align-items center

	.legend-item
		margin 20px
		display flex
		flex-direction row
		flex-wrap wrap

		.legend-item-color
			height 25px
			width 70px
			border-radius 3px
			margin-right 5px
