.flash
	color white
	display flex
	flex-direction row
	align-items center
	justify-content flex-start
	border-radius 10px
	padding 10px 20px
	position fixed
	left 20px
	transition all 0.3s ease-in-out

	&.in
		top 20px
		opacity 100

	&.out
		top -80px
		opacity 0

	&.flash-success
		background-color #2d9956

	&.flash-error
		background-color #9e2525

	.flash-icon
		margin-right 10px
		font-size 24px

	.flash-message
		font-size 16px
