.gantt-builder
	flex 1 0 auto
	position relative

	.new-chart-button
		position absolute
		top 10px
		right 10px

	.form-group, .date-picker
		margin-left 15px
		margin-bottom 0

		&:first-child
			margin-left 0

	.chart-controls
		display flex
		flex-direction row
		align-items center
		justify-content center
		margin-top 20px
		margin-bottom 20px

		button
			margin-left 5px
			margin-right 5px

	label
		margin-bottom 0
		font-size 14px
		color #666

	.form-group
		flex 1 0 auto

		input.form-control
			flex 1 0 auto

	.card-header.toggle-collapse
		cursor pointer
		display flex
		flex-direction row
		justify-content flex-start
		align-items center

		&.collapsed
			border-bottom 0

		&:hover
			background-color rgba(0,0,0,.06);

		i.fas
			font-size 24px
			margin-right 15px

	.chart-settings
		margin-top 40px

		.card-body
			.chart-settings-row
				.form-group, .date-picker
					margin-bottom 10px

					.flatpickr-wrapper
						width 100%

					input
						width 100%

			.chart-settings-controls
				margin-top 22px

				button
					margin-left 10px

					&:first-child
						margin-left 0

	.chart-container
		margin 0 auto

	.accordion-card
		margin 20px 0

	.dataset-forms
		.dataset-forms-controls
			margin-bottom 20px

			button:first-child
				margin-right 20px

		.dataset-form
			display flex
			flex-direction row
			align-items center
			justify-content center
			border-radius 5px
			border 1px solid #BBB
			background-color #FBFBFB
			padding 10px
			margin-bottom 10px

			.dataset-color
				margin-left 15px
				margin-right 15px

			.dataset-order-controls
				display flex
				flex-direction column
				align-items center
				justify-content center

				i
					cursor pointer
					color #444
					font-size 24px

					&.disabled
						color #BBB
						cursor normal

						&:hover
							color #BBB

					&:hover
						color #222

		button.remove-dataset
			height 40px
			width 40px
			border none
			font-size 14px

	button.add-dataset
		margin-top 10px

.gantt-settings
	.modal-body
		h4
			border-top 1px solid #EEE
			padding-top 20px
			margin-top 20px
		margin
