.color-picker
	height 38px
	width 80px
	margin-bottom 1px
	position relative

	.swatch-container
		border-radius 0.25rem
		border 1px solid #ced4da
		padding 7px
		background white
		height 100%
		width 100%
		cursor pointer

	.swatch
		height 100%
		width 100%

	.popover
		position absolute
		z-index 2
		top -20px
		left -60px

		.cover
			position fixed
			top 0
			right 0
			bottom 0
			left 0
