.sidebar
	position fixed
	left 0
	top 70px
	bottom 0
	width 250px
	z-index 888
	background-color #ddd
	padding 20px 0

	&.collapsed
		left -150px

	.sidebar-section
		.sidebar-section-header
			padding 0 10px
			font-weight bold

			i
				margin-right 7px
				color #888

		.sidebar-section-body
			padding 10px 0

			.recent-chart-item
				padding 10px
				border-top 1px solid #ccc
				border-bottom 1px solid #ccc

				.recent-chart-title
					font-size 14px

				.recent-chart-date
					color #888
					font-size 12px


