.header
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	flex 0 0 100%
	width 100%
	padding 5px 30px
	height 70px
	background-color white
	width 100%
	box-shadow 0 9px 12px -14px rgba(0,0,0,0.3)
	position fixed
	z-index 999

	img
		height 45px
		width auto

.new-chart-confirmation-modal
	.modal-header, .modal-footer
		border none

	.modal-body
		padding-top 0
		padding-bottom 0
